<div class='nav' ng-app="eSword" ng-controller="BibleController">

  <h1>Select</h1>
  
  <div class="header">


    <div class="bars">
      <br>
      <select class="bibleselect" ng-change="getBible()" ng-options="bible as bible.tag for bible in bibles track by bible.id" ng-model="selection.translation"></select>  
      
      <select ng-change="getBibleAndCommentary()" ng-options="book as book.title for book in books track by book.id" ng-model="selection.book"></select>

      <select ng-change="getBible()" ng-options="chapter as chapter.Chapter for chapter in chapters track by chapter.Chapter" ng-model="selection.chapter"></select>

      <!-- <button ng-click="getPrev()"><red>Prev</red></button>      
      <button>Next</button>  -->

      <select class="commentselect" ng-change="getBookCommentary()" ng-options="comment as comment.tag for comment in commentaries track by comment.id" ng-model="selection.commentary"></select>
      <br>
     
      
    </div>
  </div>

  <div class="study">

  <div class="biblediv" autoscroll>
    <div ng-repeat="content in bibleContents">

        <p class="bible" ng-click="selected = !selected; getVerse(content.Verse)" ng-class="{'selectedverse':selected}" ng-model="selection.verse"><span class="verse" ng-bind-html="(content.abbr)+' '+(content.Chapter)+':'+(content.Verse)+' '"></span><span ng-bind-html="trustAsHtml(content.Scripture)"></span></p>
      
    </div>
  </div>

  <div class="commentdiv" scroll-to-top-when="items_changed">
      <div ng-repeat="content in commentaryContents">
        <p ng-bind-html="trustAsHtml(content.Comments)"></p>
      </div>
    </div>

  <div class="dictdiv">
    <div ng-repeat="content in tskContents">
      <p ng-bind-html="trustAsHtml(content.Comments)"></p>
    </div>
  </div>

  <div class="kjvpdiv">
    <div ng-repeat="content in bibleVerse">
      <p ng-bind-html="trustAsHtml(content.Scripture)"></p>
    </div>
  </div>

  </div>

  <div class="footer"></div>


</div>